.sidebar{
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfdfd;
    border-radius: 10px;
}

.sidebar-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sitetitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #292726;
    border-bottom: 1px solid #292726;
    color: #222;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 15px;
}

.sidebar img{
    margin: 10px;
}

.sidebar p{
    padding: 15px;
}

.Cate{
    list-style: none;
    margin-bottom: 15px;
}

.sidebarlist{
    display: inline-block;
    margin-top: 10px;
    width: 50%;
    cursor: pointer;
}



.siteIcons{
    margin-left: 10px;
    font-size: 15px;
}

